.car-container {
    display: block;
    background-color: rgb(41, 46, 46);
    margin: 100px 0;
    padding: auto 0;
}
.animation-car{
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 10px;
}
.car-img{
    height: 120px;
    margin: 50px 0;
    animation: car-ani 4s linear infinite;
}

@keyframes car-ani {
    0% {
        
        margin-left: 10px;
    }

    25% {
        margin-left:70px ;
    }

    50% {
        margin-left:150px ;
    }

    100% {
        margin-left:1000px ;
    }
}

.animation-button{
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border:  1px solid black;
}
.animation-button:hover{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    transition: 2s;
}
.animation-btn{
    background-color: tomato;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border:  1px solid black;
    margin-left: -120px
}
.animation-btn:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    transition: 2s;
    margin-left: 10px
}
.animation-btn-keyframe{
    background-color: lightskyblue;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border:  1px solid black;
}

